

body {
    margin: 0;
    padding: 0;
    background-image: url('ipro/IMG-20240628-WA0039.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-position: center; /* Posición de la imagen en el centro */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Opcional: establece una altura mínima para asegurarte de que la imagen de fondo cubra toda la página */
    min-height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    justify-content: center;
    text-align: center;
    color: blue;
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #007bff 3px outset;
}

input[type="text"],
input[type="password"],
button {
    display:block;
    width: 92%;
    margin: 20px 0;
    padding: 10px;
    border: #007bff 3px outset;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}