body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    color: black;
    padding: 1em;
    text-align: center;
    position: fixed; /* Hace que el header sea fijo */
    top: 0; /* Lo coloca en la parte superior de la página */
    width: 100%; /* Hace que el header abarque todo el ancho de la página */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}
.logo {
    height: 50px;
    margin: 0 20px;
}

header {
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #558b9e;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
footer {
    text-align: center;
    margin-top: 20px;
    background-color: #558b9e;
    color: white;
    padding: 10px 20px;
}

footer p {
    margin: 5px 0;
}

footer .ubicacion {
    width: 20px;
    vertical-align: middle;
}
.container {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(77, 48, 48, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
input[type="number"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="number"][readonly] {
    background-color: #e9ecef;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #dc3545;
    color: white;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
/* Clase CSS para el efecto de parpadeo */
@keyframes parpadeo {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .parpadeo {
    animation: parpadeo 0.5s ease-in-out;
  }